[Desktop Entry]
Name=EngKey
Comment=Real-time desktop translator
Exec=engkey.sh
Path=/home/vashuus/EngKey
Icon=/home/vashuus/EngKey/icon.svg
Terminal=false
Type=Application
Categories=Utility;TextTools;Office;
StartupNotify=true
Keywords=translate;english;translator;keyboard;
